/* General Utilities */
*,
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0 auto;
}
html {
    box-sizing: border-box;
    font-size: 20px;
}

/* Text */
#jumbo {
    font-family: 'DM Serif Display', serif;
    font-size: 7rem;
    line-height: 1;
    margin-bottom: 2rem;
    color: #c4ac89;
    text-shadow: 3px 3px #2a2a2a;
    @media only screen and (max-width: 425px) {
      font-size: 2.5rem;
    }
    @media only screen and (max-width: 768px) {
      font-size: 3.25rem;
    }
    @include media(">phone", "<=tablet") {
      font-size: 3rem;
    }
}

/* divs and other content */
.header {
    display: flex;
    width: 100%;
    vertical-align: middle;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    padding: 20px;
}
.nav {
    flex-wrap: nowrap !important;
}
.header-logo {
    width: 100%;
}
#logo {
    float: left;
}
.hero {
<<<<<<< HEAD
    margin: 5% 0;
    background-color: #fce8e6;
    width: 100%;
}
=======
    margin: 0 auto;
    padding: 6%;
    background-color: #f7f4ef;
}
.flex-container {
  padding: 3% 0;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-around;
  height: 500px;
  gap: 30px;
}
.flex-item {
  display: flex;
  height: 465px;
  padding: 0;
  margin: 0;
}
img {
  margin: 0;
}
p {
  max-width:80%;
}
h2 {
  font-family: 'DM Serif Display', serif;
  float: left;
}
#about {
  padding: 10%;
  vertical-align: middle;
}
#text {
  justify-content: space-between;
  width: 1400px;
  height: auto;
>>>>>>> 86e115fc44d74e1250e4e869e0f47fc83c8c7de4
