* {
    box-sizing: border-box;
}
html {
    font-size: 20px;
    max-width: 1400px;
    margin: 0;
}
body {
    font-family: 'Helvetica', sans-serif;
    margin: 0 auto;
}
nav {
    display: flex;
    width: 1400px;
    background: transparent;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    padding: 1em;
    color: white;
}
nav > h1 {
    font-size: 2rem;
    line-height: 1;
    text-shadow: .15rem .15rem #414546;
}
nav > ul {
    display: inline-flex;
    vertical-align: middle;
}
li {
    list-style: none;
    padding-left: .75em;
}
a {
    text-decoration: none !important;
    letter-spacing: .15rem;
    color: white !important;
}
a:hover {
    color:#dbe9ee !important;
}
img {
    max-width: 400px;
}
.hero {
    padding: 5em;
    background-image: url('assets/james-kovin-F2h_WbKnX4o-unsplash.jpg');
    background-size: cover;
    color: white;
    margin: auto;
    height: 100vh;
    display: flex;
    align-content: center;
    vertical-align: middle;
}
.jumbo {
    font-size: 3.5rem;
    width: 100%;
}
.jumbo > .btn {
    margin: 0 auto;
    max-width: 5rem !important;
}
.grid {
    display: grid;
    justify-items: stretch;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: ;
    max-width: 1400px !important;
    height: 100vh;
    margin: 0;
}
.container {
    padding: 0 !important;
    margin: 2em auto;
}