html {
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
.header {
    display: flex;
    height: 69px;
    width: 100%;
    border-bottom: 1px solid seashell;
    position: fixed;
    margin: auto 10px;
}
nav {
    float: right;
}
.nav-logo img {
    height: 50px;
}
.nav-item {
    display: inline-flex;
    justify-content: space-between;
}
.nav-item-link a {
    text-decoration: underline;
    cursor: pointer;
    color: seashell;
}